<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankang.warehouse.mapper.WarehousetypeMapper">

    <resultMap id="BaseResultMap" type="com.ankang.warehouse.pojo.Warehousetype">
            <id property="warehousetypeid" column="warehouseTypeId" jdbcType="INTEGER"/>
            <result property="warehousetypename" column="warehouseTypeName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        warehouseTypeId,warehouseTypeName
    </sql>
</mapper>
