<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankang.warehouse.mapper.WarehouseMapper">

    <resultMap id="BaseResultMap" type="com.ankang.pojo.warehouseService.Warehouse">
        <id property="warehouseId" column="warehouse_id" jdbcType="INTEGER"/>
        <result property="drugsId" column="drugs_id" jdbcType="INTEGER"/>
        <result property="pharmacyId" column="pharmacy_id" jdbcType="INTEGER"/>
        <result property="drugsCount" column="drugs_count" jdbcType="BIGINT"/>
        <result property="warehouseLastTime" column="warehouse_last_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        warehouse_id
        ,drugs_id,
        pharmacy_id,drugs_count,warehouse_last_time
    </sql>
</mapper>
