<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankang.drugs.mapper.DrugsMapper">

    <resultMap id="BaseResultMap" type="com.ankang.drugs.pojo.Drugs">
        <id property="drugsId" column="drugs_id" jdbcType="INTEGER"/>
        <result property="drugsName" column="drugs_name" jdbcType="VARCHAR"/>
        <result property="drugsTypeId" column="drugs_type_id" jdbcType="INTEGER"/>
        <result property="drugsSpecifications" column="drugs_specifications" jdbcType="VARCHAR"/>
        <result property="drugsUnitid" column="drugs_unitId" jdbcType="INTEGER"/>
        <result property="drugsPlace" column="drugs_place" jdbcType="VARCHAR"/>
        <result property="drugsOriginPrice" column="drugs_origin_price" jdbcType="VARCHAR"/>
        <result property="drugsRetailPrice" column="drugs_retail_price" jdbcType="VARCHAR"/>
        <result property="drugsCreatTime" column="drugs_creat_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        drugs_id
        ,drugs_name,drugs_type_id,
        drugs_specifications,drugs_unitId,drugs_place,
        drugs_origin_price,drugs_retail_price,drugs_creat_time
    </sql>
</mapper>
