/user-service/target/
/drugs-service/target/
/staff-service/target/
/warehouse-service/target/
/feign-api/target/
/gateway/target/
/target/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn/
catalina.base_IS_UNDEFINED/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
.DS_Store
*/.DS_Store
*.class
.idea/*
*.bak
target
target/*
.gradle/
.settings/
*.pyc
*.log
*.stats
*.apk
*.ap_
*.dex
gen/
local.properties
proguard/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
.metadata/
.metadata/*
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
.gitlab-ci.yml
.gitignore
BladeX-Boot.iml
target/