<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankang.staff.mapper.OperatorTypeMapper">

    <resultMap id="BaseResultMap" type="com.ankang.pojo.staffService.OperatorType">
        <id property="operatorTypeId" column="operator_type_id" jdbcType="INTEGER"/>
        <result property="operatorTypeName" column="operator_type_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        operator_type_id
        ,operator_type_name
    </sql>
</mapper>
