<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankang.staff.mapper.StaffMapper">

    <resultMap id="BaseResultMap" type="com.ankang.staff.pojo.Staff">
        <id property="staffId" column="staff_id" jdbcType="INTEGER"/>
        <result property="staffName" column="staff_name" jdbcType="VARCHAR"/>
        <result property="staffSex" column="staff_sex" jdbcType="VARCHAR"/>
        <result property="staffPhone" column="staff_phone" jdbcType="VARCHAR"/>
        <result property="pharmacyId" column="pharmacy_id" jdbcType="INTEGER"/>
        <result property="authorityId" column="authority_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        staff_id
        ,staff_name,staff_sex,
        staff_phone,pharmacy_id,authority_id
    </sql>
</mapper>
